
.container {
  padding: 0;
}
a:hover {
  text-decoration: none;
}
#topbar {
  height: 50px;
  background: #f3f3f3;
  transition: all 0.5s;
}
#topbar .active {
  color: #49bcf7;
}
#topbar span {
  padding: 0px 10px;
  cursor: pointer;
}
#topbar span:first-child {
  padding-left: 0;
}
#topbar span:hover {
  color: #49bcf7;
}
#topbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#topbar ul li{
  padding: 0px 10px;
  color: #49bcf7;
}
#topbar ul li:last-child {
  padding-right: 0;
}
#topbar ul .active {
  color: #333;
}
/*--------------------------------------------------------------
# header section
--------------------------------------------------------------*/
.header {
  padding: 20px 0px;
  background: #fff;
  transition: all 0.5s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.header .nav-item {
  margin: 0px 5px;
}
.header .nav-item .nav-link {
  color: #1f1f1f;
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
}
.header .nav-item .active {
  background: #49bcf7;
  color: #fff;
  box-shadow: 0px 12px 25px 1px rgba(0, 0, 0, 0.2);
}
.header .nav-item .nav-link:hover {
  background: #49bcf7;
  color: #fff;
  box-shadow: 0px 12px 25px 1px rgba(0, 0, 0, 0.2);
}
.header .number {
  display: flex;
  align-items: center;
}
.header .number a{
  color: #333;
  margin-left: 10px;
}
@media (max-width: 576px) {
  #header .number {
    display: none;
  }
}
/*--------------------------------------------------------------
# hero section
--------------------------------------------------------------*/
.hero .bg {
  background-image: url(../images/bg.jpg);
  height: 80vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .bg .sub-heading {
  font-size: 20px;
  color: #f7f7f7;
  word-spacing: 2px;
  margin-bottom: 60px;
}
.hero .bg .button-one {
  padding: 10px 30px;
  border: none;
  border-radius: 2em;
  color: #fff;
  background-image: linear-gradient(45deg, #f798a5, #fdd6bd);
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 812px),
@media (max-width: 768px),
@media (max-width: 576px) {
  .section-wrapper img {
    float: none;
    max-width: 100%;
  }
}
/*--------------------------------------------------------------
# small form
--------------------------------------------------------------*/
.form-wrapper {
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
  display: flex;
  padding: 15px;
  margin-top: -50px;
  border-radius: 0.4em;
  margin-bottom: 50px;
}
.form-wrapper input {
  border: none;
}
.form-wrapper .form-submit svg {
  fill: #fff;
  margin: 0;
}
.form-wrapper svg {
  fill: #49bcf7;
  margin-right: 15px;
}
.form-wrapper .form-submit .search {
  padding: 20px 25px;
  background: #49bcf7;
  border: hidden;
  border-radius: .4em;
}
@media (max-width: 576px) {
  .container {
    padding: 0px 15px;
  }
  .form-wrapper {
    font-size: 6px;
    padding: 8px;
    margin-top: -25px;
  }
  .form-wrapper svg {
    width: 8px;
    margin-right: 2px;
  }
  .form-wrapper .form-submit .search {
    padding: 2px 8px;
  }
}
@media (max-width: 812px) {
  .form-wrapper svg {
    margin-right: 6px;
    width: 16px;
  }
}
/*--------------------------------------------------------------
# about  section
--------------------------------------------------------------*/
.about {
  margin: 80px;
  padding: 40px;
}
.about .title h2 {
  font-size: 50px;
  font-weight: lighter;
}
.about .sub-title .slide-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .sub-title .slide-icon .icon {
  border-radius: 50%;
  background: #eeeeee;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  transition: all 0.3s ease-in-out;
}
.about .slide-icon .icon:hover {
  background: #49bcf7;
  fill: #fff;
}
.about .images{
  text-align: center;
  padding-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
.about .images:hover {
  background: #fff;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
}
.about .image-info {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.3s ease-in-out;
}
.about .image-info h4 {
  margin-top: 15px;
}
.about .images:hover .image-info {
  opacity: 1;
  transform: translateY(0px);
}
@media (max-width: 576px) {
  .about {
    margin: 0;
    text-align: center;
  }
  .about .images {
    margin: 30px 0px;
  }
}
@media (max-width: 1024px) {
  .about {
    margin: 0;
    text-align: center;
  }
  .about .images .image  img {
  width: 200px;
  }
}
/*--------------------------------------------------------------
# galllary  section
--------------------------------------------------------------*/

.gallary .title h2 {
  font-size: 50px;
  font-weight: 200;
}
.gallary .card {
  border: hidden;
  cursor: pointer;
}
.gallary .small-card {
  margin: 30px 0px;
}
.gallary .card-img-overlay {
  padding: 0;
  top: auto;
  bottom: 30px;
  left: 40px;
}
.gallary .card a {
  opacity: 0;
  color: #FF8181;
  transition: all 0.3s ease-in-out;
}
.gallary .card:hover img {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.gallary .card:hover a {
  opacity: 1;
}
.gallary button {
  margin-bottom: 20px;
  padding: 6px 10px;
  background: #49bcf7;
  color: #fff;
  border: hidden;
  border-radius: 0.2em;
}
@media (max-width: 576px) {
.gallary .card {
  margin: 30px auto;
  max-width: 310px;
}
.gallary .card img {
  max-height: 320px;
  }
}
@media (max-width: 812px) {
  .gallary .card {
    margin: 0;
    margin-bottom: 25px;
  }
  .gallary .first-img img {
    max-height: 400px;
  }
  /* .gallary .big-card img {
    max-height: 320px;
  } */
}

/*--------------------------------------------------------------
# best offers section
--------------------------------------------------------------*/
.best-offer {
  background: #f9f9f9;
  margin: 40px 0px;
  padding: 80px 0px;
}
.best-offer h5,
.best-offer p {
  margin-bottom: 0;
}
.best-offer .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.best-offer .title h2 {
  font-size: 44px;
  font-weight: lighter;
  letter-spacing: 2px;
}
.best-offer .title button {
  padding: 12px 30px;
  border: none;
  border-radius: 2em;
  color: #fff;
  background-image: linear-gradient(45deg, #f798a5, #fdd6bd);
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.2);
}
.best-offer .row {
  margin: 10px 0px;
  padding: 20px 0px;
  transition: all 0.3s ease-in-out;
}
.best-offer .row:hover {
  background: #fff;
  border-radius: 0.3em;
  cursor: pointer;
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
}
.best-offer img {
  transition: all 0.4s ease-in-out;
  max-height: 100px;
}
.best-offer .row:hover img {
  transform: translateX(-45px);
  box-shadow: 0 8px 18px 1px rgba(0, 0, 0, 0.4);
  border-radius: 0.3em;
}
.best-offer .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0px 15px;
}
@media (max-width: 768px) {
  .best-offer h5 {
    font-size: 14px;
  }
  .best-offer p{
    font-size: 12px;
  }
  .best-offer img {
    max-height: 56px;
  }
}
@media (max-width: 576px) {
  .best-offer .title button {
    padding: 7px 16px;
  }
  .best-offer .col {
    margin: 0px 6px;
  }
  .best-offer .title h2 {
    font-size: 24px;
  }
  .best-offer p {
    font-size: 6px;
  }
  .best-offer h5 {
    font-size: 8px;
  }
  .best-offer img {
    max-height: 30px;
  }
  .best-offer .row:hover img {
    transform: translateX(-10px);
  }
}
/*--------------------------------------------------------------
# blog section
--------------------------------------------------------------*/
#blog {
  margin: 100px 0px;
}
.blog h2 {
  font-size: 40px;
  color: #5f5f5f;
  margin-bottom: 60px;
}
.blog strong {
  color: #333;
}
.blog .card a {
  color: #ff2222;
}
.blog .card {
  padding: 0px 8px;
  border: hidden;
  transition: all 0.4s ease-in-out;
}
.blog .card:hover {
  background: #fff;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
}
.blog img {
  transition: all 0.4s ease-in-out;
}
.blog .card:hover img {
  transform: translateY(-14px);
  box-shadow: 0 8px 16px 1px rgba(0, 0, 0, 0.3);
}
.blog .blog-btn {
  margin-top: 60px;
  padding: 12px 30px;
  border: none;
  border-radius: 2em;
  color: #fff;
  background-image: linear-gradient(45deg, #f798a5, #fdd6bd);
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.2);
}
.image-gallary .col .imgge {
  max-height: 25vh;
}
@media (max-width: 576px) {
  .blog .card {
    margin-bottom: 70px;
  }
}
/*--------------------------------------------------------------
# blog section
--------------------------------------------------------------*/
.testimonials {
  margin: 40px 0px;
  padding: 100px 0px;
  background: #277095;
}
.testimonials .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.testimonials .title h2 {
  font-size: 50px;
  font-weight: lighter;
}
.testimonials .sub-title .slide-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials .sub-title .slide-icon .icon {
  border-radius: 50%;
  background: #eeeeee;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  transition: all 0.3s ease-in-out;
}
.testimonials .sub-title .slide-icon .icon:hover {
  background: #49bcf7;
  fill: #fff;
}
.testimonials .card {
  border: hidden;
}
.testimonials .card-header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 0;
  border: none;
}
.testimonials .card-footer {
  display: flex;
  background: #fff;
  border: none;
  margin-bottom: 20px;
}
.testimonials .card-footer img {
  border-radius: 50%;
}
.testimonials .names {
  margin-left: 20px;
}
.testimonials .card-text {
  font-size: 14px;
}
.testimonials h6 {
  margin: 0;
}
.img-gallary .col {
  padding: 0;
}
/*--------------------------------------------------------------
# subscibe-mail section
--------------------------------------------------------------*/
.subscibe-mail .title {
  margin: 40px 0px 80px;
}
.subscibe  {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscibe .subscibe-form {
  box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: -40px;
  background: #fff;
  width: 70%;
  fill: #49bcf7;
  border-radius: 6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subscibe input {
  border: none;
  padding-right: 40px;
}
.subscibe .button input {
  padding: 18px 50px;
  border-radius: 6em;
  background: #49bcf7;
  color: #fff;
}
.subscibe .email {
  margin-left: 50px;
}
.subscibe svg {
  margin-right: 20px;
}
@media (max-width: 576px) {
  .subscibe .subscibe-form {
    width: 90%;
    font-size: 12px;
  }
  .subscibe input {
    padding-right: 10px;
  }
  .subscibe .button input {
    padding: 8px 20px;
    font-size: 12px;
  }
  .subscibe .email {
    margin-left: 10px;
  }
  .subscibe svg {
    margin-right: 5px;
    width: 18px;
  }
}
/*--------------------------------------------------------------
# subscibe-mail section
--------------------------------------------------------------*/
footer {
  background: #f9f9f9;
  padding: 100px 0px;
}
footer .header {
  background: none;
  box-shadow: none;
}
@media (max-width: 576px) {
  footer .header .navbar-toggler {
    display: none;
  }
}
