body {
  margin: 0;
}
.header-part {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.top-line {
  display: flex;
  background: #f3f3f3;
  align-items: center;
  justify-content: center;
}
.top-linecontent {
  display: flex;
  width: 1400px;
  justify-content: space-between;
}
.languages ul {
  list-style: none;
  padding: 0px;
  display: flex;
}
.languages ul li {
  padding: 0px 10px;
  color: black;
  cursor: pointer;
}
.languages ul li span:hover{
  color: #49bcf7;
}
.language .active-language {
  color: #49bcf7;
}
.citys {
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-list ul {
  list-style: none;
  display: flex;
}
.city-list ul li {
  padding: 2px 10px;
  color: #49bcf7;
  cursor: pointer;
}
.navigation-part {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.navigation-wrapper {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-wrapper .logo {
  margin: 0px 10px;
}
.navigation ul {
  list-style: none;
  display: flex;
  padding: 0px;
  cursor: pointer;
}
.navigation ul span {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: black;
  transition: 0.3s;
}
.navigation ul span:hover {
  background: #49bcf7;
  color: white;
  border-radius: 6px;
  box-shadow: 0px 12px 25px 1px rgba(0, 0, 0, 0.2);
}
.navigation ul li {

}
.navigation .active-home span {
  background: #49bcf7;
  border-radius: 6px;
  color: white;
  box-shadow: 0px 12px 25px 1px rgba(0, 0, 0, 0.2);
}
.contact .inner-content {
 display: flex;
 margin-right: 10px;
 color: #49bcf7;
}
.contact .inner-content img {
  margin-right: 14px;
}
.content-one {
  background-image: url(../images/bg.jpg);
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  align-items: center;
  justify-content: center;
}
.content-one .sub-heading {
  color: white;
  font-size: 24px;
}
.button-part {
  margin-top: 80px;
}
.button-part .button {
  padding: 15px 30px;
  border: none;
  border-radius: 2em;
  color: #fff;
  background-image: linear-gradient(45deg, #f798a5, #fdd6bd);
  font-size: 16px;
  cursor: pointer;
}
.content-two {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.form-wrapper {
  background: #fff;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
  width: 800px;
  display: flex;
  padding: 15px;
  margin-top: -50px;
  border-radius: 0.4em;
}
.form-wrapper .form-location,
.form-wrapper .form-time,
.form-wrapper .form-persons {
  width: 30%;
  height: 60px;
  line-height: 60px;
  color: #898989;
  font-size: 16px;
  font-family: sans-serif;
}
.form-wrapper .form-location {
  text-align: left;
}
.form-wrapper .form-time {
  text-align: center;
}
.form-wrapper .form-submit {
 text-align: center;
}
.form-wrapper span {
  display: flex;
  align-items: center;
}
.form-wrapper svg {
  fill: #49bcf7;
  padding-right: 8px;
}
.form-wrapper .form-submit button{
  padding: 20px 26px;
  background: #49bcf7;
  border: hidden;
  border-radius: 0.4em;
  cursor: pointer;
}
.form-wrapper .form-submit svg{
  fill: white;
  padding: 0px;
}
.content-three {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog{
  width: 100%;
  display: flex;
  margin-top: 80px;
}
.blog .text-part {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog .text-part h2{
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  color: #6E6E6E;
  padding: 0;
  margin: 0;
}
.blog .text-part p {
  font-size: 10px;
  line-height: 1.5em;
  font-family: 'Quicksand', sans-serif;
}
.blog .text-part .buttos{
  display: flex;
  margin: 10px;
}
.blog .text-part .next,
.blog .text-part .previous {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
  margin: 10px;
  cursor: pointer;
}
.blog .text-part .previous {
  background: white;
}
.blog .text-part .previous svg{
  fill: #929292;
}
.blog .text-part .next {
  background:  #49bcf7;
}
.blog .text-part .next svg {
  fill: #fff;
}
.blog .img-part {
  width: 60%;
  text-align: right;
  display: flex;
}
.blog .img-part .img-wholepart {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.blog .img-part .img-wholepart .img-one,
.blog .img-part .img-wholepart .img-two,
.blog .img-part .img-wholepart .img-three {
  width: 33%;
  text-align: center;
}
.blog .img-part .img-wholepart .img-one .text,
.blog .img-part .img-wholepart .img-two .text,
.blog .img-part .img-wholepart .img-three .text {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.blog .img-part .img-wholepart .img-one:hover .text,
.blog .img-part .img-wholepart .img-two:hover .text,
.blog .img-part .img-wholepart .img-three:hover .text {
  transform: translateY(0%);
  opacity: 1;
}
.blog .img-part img {
  height: 300px;
  width: 250px;
}
.content-four {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-four .whole-content{
  width: 1200px;
  display: block;
}
.content-four .whole-content .heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}
.content-four .whole-content .photos{
  margin: 100px 0px;
}
.content-four .whole-content .photos .two-photos,
.content-four .whole-content .photos .three-photos{
  display: flex;
  width: 1200px;
}
.content-four .whole-content .photos .two-photos .first-photo{
  width: 65%;
  background-image: url(images/palace.jpg);
  width: 770px;
  height: 550px;
  position: relative;
  border: hidden;
  border-radius: 0.4em;
  margin: 0px 5px;
}
.content-four .whole-content .photos .two-photos .second-photo {
  width: 35%;
  background-image: url(images/Beach.jpg);
  width: 394px;
  height: 550px;
  position: relative;
  border: hidden;
  border-radius: 0.4em;
  margin-left: 20px;
}
.content-four .whole-content .photos .text{
  position: absolute;
  bottom: 30px;
  left: 60px;
  color: white;
  font-family: sans-serif;
}
.content-four .whole-content .photos .text button{
  padding: 12px 22px;
  background: #49bcf7;
  border: hidden;
  border-radius: 0.4em;
  cursor: pointer;
  color: white;
}
.content-four .whole-content .photos .three-photos .first-photo{
  width: 33.33%;
  background-image: url(images/cityscape.jpg);
  width: 550px;
  height: 370px;
  position: relative;
  border: hidden;
  border-radius: 0.4em;
  margin: 16px 8px;
}
.content-four .whole-content .photos .three-photos .second-photo{
  width: 33.33%;
  background-image: url(images/studio.jpg);
  width: 572px;
  height: 370px;
  position: relative;
  border: hidden;
  border-radius: 0.4em;
  margin: 16px 12px;
}
.content-four .whole-content .photos .three-photos .third-photo{
  width: 33.33%;
  background-image: url(images/iceland.jpg);
  width: 550px;
  height: 370px;
  position: relative;
  border: hidden;
  border-radius: 0.4em;
  margin: 16px 8px;
}
.content-five {
  background: #f2f4f6;
  padding-bottom: 120px;
}
.content-five .list-heading {
  display: flex;
  padding: 70px 300px;
  align-items: center;
  justify-content: space-between;
}
.content-five .list-heading h2 span{
  font-size: 60px;
  font-family: 'Quicksand', sans-serif;
}
.content-five .list-heading button{
  margin: 20px;
}
.content-five .list-heading .button {
  padding: 15px 30px;
  border: none;
  border-radius: 2em;
  color: #fff;
  background-image: linear-gradient(45deg, #f798a5, #fdd6bd);
  font-size: 16px;
  cursor: pointer;
}
.content-five .list-heading .button:hover {
  background-image: linear-gradient(45deg, #fdd6bd, #f798a5);
}
.offer-list {
  margin: 0px 200px;
}
.offer-list .first-list {
  display: flex;
}
.offer-list ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  width: 1120px;
  cursor: pointer;
  border: hidden;
  border-radius: 4px;
  transition: 0.6s;
  padding: 30px 0px;
}
.offer-list ul li .heading{
  margin: 2px;
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
}
.offer-list ul li .sub-heading{
  margin: 0px;
  color: #929292;
  font-family: 'Quicksand', sans-serif;
}
.offer-list ul:hover {
  background: #fff;
  box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.1);
}
.content-six {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 120px 0px;
}
.content-six .blog {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.content-six .blog h2 {
  font-size: 40px;
  font-family: sans-serif;
  margin: 0px;
}
.content-six .blog h3 {
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 0px;
  color: #A0A0A0;
}
.blog-photos {
  width: 70%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.blog-photos img{
  width: 100%;
  border-radius: 6px;
}
.blog-img-one,
.blog-img-two,
.blog-img-three {
  width: 33.33%;
  max-width: 300px;
  margin: 10px;
}
.blog-img-one .text,
.blog-img-two .text,
.blog-img-three .text {
  margin-left: 25px;
  font-family: sans-serif;
  /* transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer; */
}
/* .blog-img-one:hover .text,
.blog-img-two:hover .text,
.blog-img-three:hover .text {
  transform: translateY(0%);
  opacity: 1;
} */
.blog-photos .text p {
  font-size: 13px;
  color: #BCBCBC;
}
.blog-photos .text a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #E03F14;
}
.blog-photos .text a svg {
  margin-left: 16px;
  fill: #E03F14;
}
.content-six button {
  padding: 15px 30px;
  border: none;
  border-radius: 2em;
  color: #fff;
  background-image: linear-gradient(45deg, #f798a5, #fdd6bd);
  font-size: 16px;
  cursor: pointer;
}
.content-seven {
  background: #277095;
  display: flex;
}
.content-seven .blog {
  width: 100%;
}
.content-seven .blog .text-part {
  color: #fff;
  margin: 100px 0px;
  width: 40%;
}
.content-seven .blog h2{
  color: #fff;
}
.content-seven .personal-data {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.personal-data .persons {
  display: inline-flex;
  padding: 7% 5% 7% 12%;
}
.personal-data .persons .person-one,
.personal-data .persons .person-second {
  background: white;
  padding: 6% 3%;
  width: 40%;
  border: hidden;
  border-radius: 4px;
  margin: 40px;
  font-family: 'Quicksand', sans-serif;
}
.personal-data .persons .person-one p,
.personal-data .persons .person-second p{
  font-family: sans-serif;
  color: #828282;
  font-size: 12px;
}
.stars-date {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.stars-date .date {
  font-size: 12px;
}
.stars svg {
  fill: #49bcf7;
}
.person-details {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.person-details img {
  border-radius: 50%;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}
.person-name h5 {
  margin: 0px;
}
.person-name h6 {
  margin: 4px 0px;
  color: #828282;
}
.content-eight {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.insta-logo svg {
  fill: #49bcf7;
}
.content-eight .insta-logo h3 {
  font-size: 50px;
  font-family: sans-serif;
  margin-bottom: 0px;
}
.content-eight .insta-logo h4 {
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 0px;
  color: #828282;
}
.content-eight .photo-galary {
  display: flex;
}
  .content-eight .subscibe {
  margin: 100px 0px;
}
.content-eight .subscibe h3 {
  font-family: sans-serif;
  margin: 6px;
}
.content-eight .subscibe h4 {
  font-family: 'Quicksand', sans-serif;
  color: #828282;
  font-size: 16px;
  margin: 0px;
}
.content-nine {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-nine .subscribe-wrapper {
  background: #fff;
  width: 800px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 6em;
  margin-bottom: -40px;
}
.content-nine .subscribe-wrapper .email-location {
  height: 60px;
  line-height: 60px;
  color: #898989;
  font-size: 16px;
  font-family: sans-serif;
  padding-left: 40px;
}
.email-location span {
  display: flex;
  align-items: center;
}
.email-location span svg {
  padding-right: 20px;
  fill: #49bcf7;
}
.subscribe-button {
  display: flex;
}
.subscribe-button button {
  background: #49bcf7;
  border: hidden;
  border-radius: 5em;
  padding: 0px 50px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

footer {
  background: #f1f1f1;
}
footer .navigation-part {
  margin: 0px
}
footer .navigation-wrapper {
  padding: 120px;
}
